/* Custom Stylesheet */
/**
 * Copyright 2016 Locator Inc. All Rights Reserved.
 */


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #bdbdbd;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
}