<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap.min.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{ asset('assets/css/base-style.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{ asset('assets/css/register.css')}}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block header %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">KVApp</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="register">New Client</a></li>
                    <li><a href="search">Search</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

{% endblock %}
<main>
    {% block body %}

    {% endblock %}
</main>

{% block footer %}
    <footer class="navbar navbar-default navbar-fixed-bottom" style="min-height: 0px">
        <div class="container">
            <span class="text-muted">© 2017 Copyright KV Application</span><p class="text-muted pull-right">2017 Dharmalion Inc All Rights Reserved.</p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/init.js') }}"></script>

    <script src="{{ asset('assets/js/register.js') }}"></script>
{% endblock %}
</body>
</html>
