{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-offset-1">
                    <form method="POST", action="/client">
                        <section>
                            <div class="wizard">
                                <!-- Form Name -->
                                {#<legend>Register New Client</legend>#}
                                <div class="wizard-inner">
                                    <div class="connecting-line"></div>
                                    <ul class="nav nav-tabs" role="tablist">

                                        <li role="presentation" class="active">
                                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"
                                               title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                                            </a>
                                        </li>

                                        <li role="presentation" class="disabled">
                                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
                                               title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                                            </a>
                                        </li>
                                        <li role="presentation" class="disabled">
                                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"
                                               title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="tab-content">
                                            <div class="tab-pane active" role="tabpanel" id="step1">
                                                {{ include('client/step-one.html.twig') }}
                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step2">
                                                {{ include('client/step-two.html.twig') }}

                                            </div>
                                            <div class="tab-pane" role="tabpanel" id="step3">
                                                {{ include('client/step-three.html.twig') }}
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}