{#<h3>Step two</h3>#}
<h3 class="text-center">Confidential Info</h3>
<div class="col-md-6">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="text-info"><strong>MARRIAGE</strong></span></div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-10">
                        <label class="control-label" for="maritalStatus">Marital status</label>
                        <input id="maritalStatus" name="maritalStatus" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-10">
                        <label class="control-label" for="placeOfMarriage">Place of Marriage</label>
                        <input id="placeOfMarriage" name="placeOfMarriage" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-10">
                        <label class="control-label" for="dateOfMarriage">Date of Marriage</label>
                        <input id="middleName" name="dateOfMarriage" type="date"
                               class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="text-info"><strong>DATE</strong></span></div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-10">
                        <label class="control-label" for="immStatus">IMM Status</label>
                        <input id="immStatus" name="immStatus" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-10">
                        <label class="control-label" for="dateOfArrival">Date of Arrival</label>
                        <input id="dateOfArrival" name="dateOfArrival" type="date"
                               class="form-control">
                    </div>
                    <div class="col-md-10">
                        <label class="control-label" for="dateOfLanding">Date of Landing</label>
                        <input id="dateOfLanding" name="dateOfLanding" type="date"
                               class="form-control">
                    </div>
                    <div class="col-md-10">
                        <label class="control-label" for="citizenshipObtained">Citizenship Obtained</label>
                        <input id="citizenshipObtained" name="citizenshipObtained" type="date"
                               class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="text-info"><strong>COMMENTS</strong></span></div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-10">
                        <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="text-info"><strong>CASE INFO</strong></span></div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-10">
                    <label class="control-label" for="immId">IMM ID</label>
                    <input id="immId" name="immId" type="text"
                           class="form-control">
                </div>
                <div class="col-md-10">
                    <label class="control-label" for="fileNo">File No</label>
                    <input id="fileNo" name="fileNo" type="text"
                           class="form-control">
                </div>
                <div class="col-md-10">
                    <label class="control-label" for="refuCaseLawyer">Refu Case Lawyer</label>
                    <input id="refuCaseLawyer" name="refuCaseLawyer" type="text"
                           class="form-control">
                </div>
                <div class="col-md-10">
                    <label class="control-label" for="portOfEntry">Port of Entry</label>
                    <input id="portOfEntry" name="portOfEntry" type="text"
                           class="form-control">
                </div>
                <div class="col-md-10">
                    <label class="control-label" for="interpreterName">Interpreter Name</label>
                    <input id="interpreterName" name="interpreterName" type="text"
                           class="form-control">
                </div>
                <div class="col-md-10">
                    <label class="control-label" for="referedBy">Refered By</label>
                    <input id="referedBy" name="referedBy" type="text"
                           class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><span class="text-info"><strong>TELEPHONE</strong></span></div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-6">
                    <label class="control-label" for="home">Home</label>
                    <input id="home" name="home" type="text"
                           class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="work">Work</label>
                    <input id="work" name="work" type="text"
                           class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="cell">Cell</label>
                    <input id="cell" name="cell" type="text"
                           class="form-control">
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="emer">Emer</label>
                    <input id="emer" name="emer" type="text"
                           class="form-control">
                </div>
            </div>
        </div>
    </div>

</div>


<ul class="list-inline pull-right">
    <li>
        <button type="button" class="btn btn-info prev-step">Previous</button>
    </li>
    <li>
        <button type="button" class="btn btn-primary next-step">Next</button>
    </li>
</ul>