<h3 class="text-center">Personal Info</h3>
<div class="col-md-12">
    <!-- Name input-->
    <div class="panel panel-default">
        <div class="panel-heading"><span class="text-info"><strong>Personal Details</strong></span></div>
        <div class="panel-body">

            <div class="form-group">
                <div class="col-md-6 row">
                    <div class="col-md-6">
                        <label class="control-label" for="firstName">First Name</label>
                        <input id="firstName" name="firstName" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="name">Middle Name</label>
                        <input id="middleName" name="middleName" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="name">Last Name</label>
                        <input id="lastName" name="lastName" type="text"
                               class="form-control">
                    </div>
                    <!-- Gender Radios -->
                    <div class="col-md-6">
                        <label class="control-label" for="gender">Gender</label>
                        <div class="radio">
                            <label for="airboatsize-0">
                                <input type="radio" name="airboatsize" id="airboatsize-0"
                                       value="1"
                                       checked="checked">
                                Male
                            </label>
                        </div>
                        <div class="radio">
                            <label for="airboatsize-1">
                                <input type="radio" name="airboatsize" id="airboatsize-1"
                                       value="2">
                                Female
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 row">
                    <div class="col-md-6">
                        <label class="control-label" for="kvClientID">KV Client ID</label>
                        <input id="kvClientID" name="kvClientID" type="text">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="firstName">Place Of Birth</label>
                        <input id="placeOfBirth" name="placeOfBirth" type="text">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="name">Date Of Birth</label>
                        <input id="dateOfBirth" name="dateOfBirth" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label class="control-label" for="email">Email</label>
                        <input id="email" name="email" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="text-info"><strong>Address details</strong></span></div>
        <div class="panel-body">

            <!-- Address -->
            <div class="address">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label" for="address">Address</label>
                        <input id="address" name="address" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" for="unit">Suite / Unit #</label>
                        <input id="unit" name="unit" type="text" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" for="city">City</label>
                        <input id="city" name="city" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label" for="province">Province</label>
                        <input id="province" name="province" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" for="postalCode">Postal
                            Code</label>
                        <input id="postalCode" name="postalCode" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" for="country">Country</label>
                        <input id="country" name="country" type="text"
                               class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="list-inline pull-right">
    <li>
        <button type="button" class="btn btn-primary next-step">Next</button>
    </li>
</ul>