<h3 class="text-center">Purpose of Visit</h3>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="text-info"><strong>Visitor Details</strong></span></div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="col-md-10">
                        <label class="control-label" for="firstName">First Name</label>
                        <input id="firstName" name="firstName" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-10">
                        <label class="control-label" for="lastName">Last Name</label>
                        <input id="lastName" name="lastName" type="text"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10">
                        <label class="control-label" for="purposeOfVisit">Purpose of Visit</label>
                        <input id="purposeOfVisit" name="purposeOfVisit" type="text"
                               class="form-control">
                    </div>
                    <div class="col-md-10">
                        <label class="control-label" for="dateOfVisit">Date of Visit</label>
                        <input id="dateOfVisit" name="dateOfVisit" type="date"
                               class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-10">
                        <label class="control-label" for="dateOfVisit">Comments (Visit related)</label>
                        <textarea class="form-control" id="comments" name="comments" rows="3"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="text-info"><strong>Visitation Log</strong></span></div>
        <div class="panel-body">
            <div class="form-group">

            </div>
        </div>
    </div>
</div>

<ul class="list-inline pull-right">
    <li>
        <button type="button" class="btn btn-info prev-step">Previous</button>
    </li>
    <li>
        <button type="submit" class="btn btn-success btn-info-full next-step">Submit</button>
    </li>
</ul>